---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-prod
spec:
  progressDeadlineSeconds: 360
  replicas: 1
  selector:
    matchLabels:
      app: app-prod
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: app-prod
    spec:
      containers:
        - name: app-prod
          image: ghcr.io/vatsim-radar/vatsim-radar/production
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: 600m
              memory: 600Mi
            limits:
              cpu: 950m
              memory: 2Gi
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 10
            timeoutSeconds: 15
      imagePullSecrets:
        - name: ghcr-login-secret
      nodeSelector:
        doks.digitalocean.com/node-pool: premium-2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-prod
spec:
  progressDeadlineSeconds: 360
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: worker-prod
  template:
    metadata:
      labels:
        app: worker-prod
    spec:
      imagePullSecrets:
        - name: ghcr-login-secret
      nodeSelector:
        doks.digitalocean.com/node-pool: basic-2-2
      containers:
        - name: worker
          image: ghcr.io/vatsim-radar/vatsim-radar/production
          imagePullPolicy: Always
          command: ["/radar/.config/worker-prod.sh"]
          ports:
            - containerPort: 8880
          resources:
            requests:
              cpu: 600m
              memory: 300Mi
            limits:
              cpu: 1000m
              memory: 1Gi
          readinessProbe:
            tcpSocket:
              port: 8880
            initialDelaySeconds: 5
            periodSeconds: 15
            successThreshold: 1
            failureThreshold: 10
            timeoutSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: worker-prod
spec:
  ports:
    - port: 8880
  selector:
    app: worker-prod
---
apiVersion: v1
kind: Service
metadata:
  name: app-prod
spec:
  ports:
    - port: 3000
  selector:
    app: app-prod
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: app-prod-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: app-prod
  minReplicas: 2
  maxReplicas: 12
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 140
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 300
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vatglasses
spec:
  progressDeadlineSeconds: 360
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: vatglasses
  template:
    metadata:
      labels:
        app: vatglasses
    spec:
      imagePullSecrets:
        - name: ghcr-login-secret
      nodeSelector:
        doks.digitalocean.com/node-pool: basic-2
      containers:
        - name: worker
          image: ghcr.io/vatsim-radar/vatsim-radar/production
          imagePullPolicy: Always
          command: ["/radar/.config/vatglasses-worker-prod.sh"]
          ports:
            - containerPort: 8880
          resources:
            requests:
              cpu: 600m
              memory: 300Mi
            limits:
              cpu: 1000m
              memory: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: vatglasses
spec:
  ports:
    - port: 8880
  selector:
    app: vatglasses
