apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  ports:
    - port: 3306
  selector:
    app: db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
spec:
  progressDeadlineSeconds: 600
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      nodeSelector:
        doks.digitalocean.com/node-pool: basic-2
      containers:
        - name: db
          image: mysql
          env:
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "yes"
            - name: MYSQL_DATABASE
              value: "radar"
            - name: MYSQL_ROOT_PASSWORD
              value: "localhost"
          ports:
            - containerPort: 3306
          volumeMounts:
            - name: radar-data
              mountPath: /var/lib/mysql
          readinessProbe:
            exec:
              command: ["mysqladmin", "ping", "-h", "localhost"]
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: radar-data
          persistentVolumeClaim:
            claimName: radar-db-prod
