$weight: 900;
$variants: Black, ExtraBold, Bold, SemiBold, Medium, Regular, Light, ExtraLight, Thin;

@each $variant in $variants {
    @font-face {
        font-family: LibreFranklin;
        font-weight: $weight;
        font-style: normal;

        font-display: swap;
        src: url(@/assets/fonts/libre-franklin/LibreFranklin-#{$variant}.ttf);
    }

    @font-face {
        font-family: LibreFranklin;
        font-weight: $weight;
        font-style: italic;

        font-display: swap;
        src: url(@/assets/fonts/libre-franklin/LibreFranklin-#{$variant}Italic.ttf);
    }

    $weight: $weight - 100;
}

@font-face {
    font-family: Jura;
    font-weight: normal;
    font-style: normal;

    font-display: swap;
    src: url("@/assets/fonts/jura/Jura-Regular.ttf");
}

@font-face {
    font-family: Jura;
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url("@/assets/fonts/jura/Jura-SemiBold.ttf");
}

@font-face {
    font-family: Jura;
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url("@/assets/fonts/jura/Jura-Bold.ttf");
}