services:
  nginx:
    image: nginx
    restart: always
    container_name: nginx
    volumes:
      - ./.config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./.config/nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      #- 8080:80
      - 80:80
    depends_on:
      app:
        condition: service_healthy

  app:
    container_name: app
    restart: always
    image: ghcr.io/daniluk4000/vatsim-radar/production
    ports:
      - 8001:3000
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: "bash -c 'echo -n > /dev/tcp/127.0.0.1/3000'"
      interval: 1s
      retries: 360
    volumes:
      - /opt/radar-data:/radar/src/data

  db:
    image: mysql
    restart: always
    container_name: db
    cap_add:
      - SYS_NICE
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=radar
      - MYSQL_ROOT_PASSWORD=localhost
    ports:
      - '3306:3306'
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 5s
      interval: 5s
      retries: 40
    volumes:
      - /opt/db:/var/lib/mysql
