services:
  app:
    container_name: app
    restart: always
    image: ghcr.io/vatsim-radar/vatsim-radar/production
    depends_on:
      redis:
        condition: service_started
      db:
        condition: service_healthy
    ports:
      - 8080:3000
    healthcheck:
      test: "bash -c 'echo -n > /dev/tcp/127.0.0.1/3000'"
      interval: 1s
      retries: 360
    volumes:
      - /opt/radar-data:/radar/src/data

  worker:
    image: ghcr.io/vatsim-radar/vatsim-radar/production
    container_name: app-worker
    restart: always
    command: /radar/.config/worker-prod.sh
    volumes:
      - /opt/radar-data:/radar/src/data
    depends_on:
      db-next:
        condition: service_healthy
      redis:
        condition: service_started

  redis:
    image: redis
    command: redis-server --requirepass RADAR
    expose:
      - 6379
    environment:
      - REDIS_APPLICATION_MODE=master

  db:
    image: mysql
    restart: always
    container_name: db
    cap_add:
      - SYS_NICE
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=radar
      - MYSQL_ROOT_PASSWORD=localhost
    ports:
      - '3306:3306'
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      timeout: 5s
      interval: 5s
      retries: 40
    volumes:
      - /opt/db:/var/lib/mysql
