$weight: 800;
$variants: ExtraBold, SemiBold, Bold, Medium, Regular, Light;

@each $variant in $variants {
    @font-face {
        font-family: OpenSans;
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
        src: url(@/assets/fonts/open-sans/OpenSans-#{$variant}.ttf);
    }

    @font-face {
        font-family: OpenSans;
        font-weight: $weight;
        font-style: italic;
        font-display: swap;
        src: url(@/assets/fonts/open-sans/OpenSans-#{$variant}Italic.ttf);
    }

    $weight: $weight - 100;
}

$weight: 900;
$variants: Black, ExtraBold, Bold, SemiBold, Medium, Regular, Light, ExtraLight, Thin;

@each $variant in $variants {
    @font-face {
        font-family: Montserrat;
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
        src: url(@/assets/fonts/montserrat/Montserrat-#{$variant}.ttf);
    }

    @font-face {
        font-family: Montserrat;
        font-weight: $weight;
        font-style: italic;
        font-display: swap;
        src: url(@/assets/fonts/montserrat/Montserrat-#{$variant}Italic.ttf);
    }

    $weight: $weight - 100;
}
